<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                  <h1 class="text-center">CT - Login</h1>
                  <!-- <p class="text-muted">Sign In to your account</p> -->
                  <div class="input-group mb-3">
                    <mdc-form-field fluid>
                      <mdc-text-field outlined label="Email" formControlName="email" required>
                        <mdc-icon mdcTextFieldIcon leading
                          >email</mdc-icon
                        >
                      </mdc-text-field>
                      <mdc-helper-text validation
                        >Email Required</mdc-helper-text
                      >
                    </mdc-form-field>
                  </div>
                  <div class="input-group mb-4">
                    <mdc-form-field fluid>
                      <mdc-text-field outlined label="Password" formControlName="password" required>
                        <mdc-icon mdcTextFieldIcon leading
                          >lock</mdc-icon
                        >
                      </mdc-text-field>
                      <mdc-helper-text validation
                        >Password Required</mdc-helper-text
                      >
                    </mdc-form-field>
                  </div>
                  <div style="text-align: center">
                      <button
                        mdc-button
                        raised
                        type="submit"
                        [disabled]="!loginForm.valid"
                      >
                        <mdc-button-label>Login</mdc-button-label>
                      </button>
                    </div>
                </form>
              </div>
            </div>
            <mdc-linear-progress *ngIf="submitted"  secondary="true"></mdc-linear-progress>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
